extends layout
block titleBlock
  title #{title}

block content 
    // begin::App Content Header
    .app-content-header
      // begin::Container
      .container-fluid
        // begin::Row
        .row
           .col-sm-6
             h3.mb-0 #{title}
           .col-sm-6
             ol.breadcrumb.float-sm-end
               li.breadcrumb-item
                 a(href='/admin/dashboard') Admin
               li.breadcrumb-item.active(aria-current='page')
                 | #{title}
    .row.g-4
      // begin::Col
      .col-12.connectedSortable
        .callout.callout-info
          | Manage friend requests and connections.
      // end::Col


    .row.g-4
      .col-12.connectedSortable
        // Add Friend Section
        .card.card-primary.card-outline.mb-4.mt-4
          .card-header
            h4.card-title Add a Friend
          .card-body
            form#searchUserForm(method="POST", action="/friends/search")
              .form-group
                label(for="search") Search Users
                input.form-control(type="text" id="search" name="search" placeholder="Enter username or email")
                button.btn.btn-primary.mt-3(type="submit") Search

            hr

            h3 Search Results
            //- This section will be dynamically populated with user search results using JavaScript
            ul#userSearchResults.list-group


        // Display Pending Friend Requests
        .card.card-secondary.card-outline.mb-4
          .card-header
            h4.card-title Pending Friend Requests
          .card-body
            each request in pendingRequests
              div
                span= request.requester
                form(action="/friends/accept", method="POST")
                  input(type="hidden", name="requestId", value=request.id)
                  input(type="hidden", name="userId", value=user.id)
                  button(type="submit") Accept
                form(action="/friends/decline", method="POST")
                  input(type="hidden", name="requestId", value=request.id)
                  button(type="submit") Decline

        // Display Friend List
        .card.card-secondary.card-outline.mb-4
          .card-header
            h4.card-title Your Friends
          .card-body
            table#friends-table.table.table-striped.table-hover
              thead
                tr
                  th(onclick="sortTable(0)") Username
              tbody
                each friend in friends
                  tr
                    td= friend.username
  
    script(src='/js/sortTable.js')
    script(src="/js/userSearch.js")
    script(src='https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js' integrity='sha256-ipiJrswvAR4VAx/th+6zWsdeYmVae0iJuiR+6OqHJHQ=' crossorigin='anonymous').
    script(src='/js/init-sortables.js')
    script.
        initSortables();