doctype html
head
  block baseDirectoryBlock
 
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1')
  link(rel='shortcut icon' href='assets/images/0d0cde80-aa01-4a83-9246-2b6d2bb0ccd5-128x128.png' type='image/x-icon')
  block titleBlock 

  block metaDescriptionBlock

  block metaKewordsBlock

  link(rel='stylesheet' href='/css/adminlte.css')
  block headStylesBlock
  
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js').
  block headScriptsBlock


  script(src="https://kit.fontawesome.com/4defe9e4da.js" crossorigin="anonymous").
  link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/@fontsource/source-sans-3@5.0.12/index.css', integrity='sha256-tXJfXfp6Ewt1ilPzLDtQnJV4hclT9XuaZUKyUvmyr+Q=', crossorigin='anonymous')
  // end::Fonts
  // begin::Third Party Plugin(OverlayScrollbars)
  link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/overlayscrollbars@2.3.0/styles/overlayscrollbars.min.css', integrity='sha256-dSokZseQNT08wYEWiz5iLI8QPlKxG+TswNRD8k35cpg=', crossorigin='anonymous')
  // end::Third Party Plugin(OverlayScrollbars)
  // begin::Third Party Plugin(Bootstrap Icons)
  link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.min.css', integrity='sha256-Qsx5lrStHZyR9REqhUF8iQt73X06c8LGIUPzpOhwRrI=', crossorigin='anonymous')
  // end::Third Party Plugin(Bootstrap Icons)
  link(rel='stylesheet' href='/stylesheets/main.css')
  body.bg-body-tertiary
        
      // begin::Header
      nav.app-header.navbar.navbar-expand.bg-body
        // begin::Container
        .container-fluid
          // begin::Start Navbar Links
          ul.navbar-nav
            li.nav-item.d-none.d-md-block
              a.nav-link(href='#') Home
            li.nav-item.d-none.d-md-block
              a.nav-link(href='#') Contact

          // end::Start Navbar Links
          // begin::End Navbar Links
          ul.navbar-nav.ms-auto
            // begin::Navbar Search
            li.nav-item
              a.nav-link(data-widget='navbar-search', href='#', role='button')
                i.bi.bi-search
            // end::Navbar Search
            // begin::Messages Dropdown Menu
            li.nav-item.dropdown
              a.nav-link(data-bs-toggle='dropdown', href='#')
                i.bi.bi-chat-text
                |  
                span.navbar-badge.badge.text-bg-danger 3
              .dropdown-menu.dropdown-menu-lg.dropdown-menu-end
                a.dropdown-item(href='#')
                  // begin::Message
                  .d-flex
                    .flex-shrink-0
                      img.img-size-50.rounded-circle.me-3(src='/dist/assets/img/user1-128x128.jpg', alt='User Avatar')
                    .flex-grow-1
                      h3.dropdown-item-title
                        | Brad Diesel
                        span.float-end.fs-7.text-danger
                          i.bi.bi-star-fill
                      p.fs-7 Call me whenever you can...
                      p.fs-7.text-secondary
                        i.bi.bi-clock-fill.me-1
                        |  4 Hours Ago
                  // end::Message
                .dropdown-divider
                |  
                a.dropdown-item(href='#')
                  // begin::Message
                  .d-flex
                    .flex-shrink-0
                      img.img-size-50.rounded-circle.me-3(src='/dist/assets/img/user8-128x128.jpg', alt='User Avatar')
                    .flex-grow-1
                      h3.dropdown-item-title
                        | John Pierce
                        span.float-end.fs-7.text-secondary
                          i.bi.bi-star-fill
                      p.fs-7 I got your message bro
                      p.fs-7.text-secondary
                        i.bi.bi-clock-fill.me-1
                        |  4 Hours Ago
                  // end::Message
                .dropdown-divider
                |  
                a.dropdown-item(href='#')
                  // begin::Message
                  .d-flex
                    .flex-shrink-0
                      img.img-size-50.rounded-circle.me-3(src='/dist/assets/img/user3-128x128.jpg', alt='User Avatar')
                    .flex-grow-1
                      h3.dropdown-item-title
                        | Nora Silvester
                        span.float-end.fs-7.text-warning
                          i.bi.bi-star-fill
                      p.fs-7 The subject goes here
                      p.fs-7.text-secondary
                        i.bi.bi-clock-fill.me-1
                        |  4 Hours Ago
                  // end::Message
                .dropdown-divider
                |  
                a.dropdown-item.dropdown-footer(href='#') See All Messages
            // end::Messages Dropdown Menu
            // begin::Notifications Dropdown Menu
            li.nav-item.dropdown
              a.nav-link(data-bs-toggle='dropdown', href='#')
                i.bi.bi-bell-fill
                |  
                span.navbar-badge.badge.text-bg-warning 15
              .dropdown-menu.dropdown-menu-lg.dropdown-menu-end
                span.dropdown-item.dropdown-header 15 Notifications
                .dropdown-divider
                |  
                a.dropdown-item(href='#')
                  i.bi.bi-envelope.me-2
                  |  4 new messages
                  span.float-end.text-secondary.fs-7 3 mins
                .dropdown-divider
                |  
                a.dropdown-item(href='#')
                  i.bi.bi-people-fill.me-2
                  |  8 friend requests
                  span.float-end.text-secondary.fs-7 12 hours
                .dropdown-divider
                |  
                a.dropdown-item(href='#')
                  i.bi.bi-file-earmark-fill.me-2
                  |  3 new reports
                  span.float-end.text-secondary.fs-7 2 days
                .dropdown-divider
                |  
                a.dropdown-item.dropdown-footer(href='#')
                  | See All Notifications
            // end::Notifications Dropdown Menu
            // begin::Fullscreen Toggle
            li.nav-item
              a.nav-link(href='#', data-lte-toggle='fullscreen')
                i.bi.bi-arrows-fullscreen(data-lte-icon='maximize')
                |  
                i.bi.bi-fullscreen-exit(data-lte-icon='minimize', style='display: none;')
            // end::Fullscreen Toggle
            li.nav-item
              a.nav-link(data-bs-toggle='offcanvas' href='#offcanvasBottom' role='button' aria-controls='offcanvasBottom')
                i.bi.bi-list
            if user
                // begin::User Menu Dropdown
                li.nav-item.dropdown.user-menu
                  a.nav-link.dropdown-toggle(href='#', data-bs-toggle='dropdown')
                
                    img.user-image.rounded-circle.shadow(src=`${user.avatar}`, alt='User Image')
                    |  
                    span.d-none.d-md-inline #{user.username}
                  ul.dropdown-menu.dropdown-menu-lg.dropdown-menu-end
                    // begin::User Image
                    li.user-header.text-bg-primary.text-center
                      .row
                        .col-12.pt-2
                          img.rounded-circle.shadow(style='margin: 0 auto;text-align: center; height:64px;width: 64px;' src=`${user.avatar}`, alt='User Image')
                      .row  
                        .col-12.pt-2
                          p
                            | #{user.username} - Web Developer
                            | small Member since #{user.dateCreated}
                    // end::User Image
                    // begin::Menu Body
                    li.user-body
                      // begin::Row
                      .row
                        .col-4.text-center
                          a(href='#') Followers
                        .col-4.text-center
                          a(href='#') Sales
                        .col-4.text-center
                          a(href='#') Friends
                      // end::Row
                    // end::Menu Body
                    // begin::Menu Footer
                    li.user-footer
                      if user.role === 'admin'
                        | 
                        a.btn.btn-default.btn-flat(href='/admin/dashboard') Dashboard
                      else
                        a.btn.btn-default.btn-flat(href='/users/dashboard') Dashboard
                        |  
                      a.btn.btn-default.btn-flat.float-end(href='/users/logout') Sign out
                    // end::Menu Footer
                // end::User Menu Dropdown
          // end::End Navbar Links
       
        // end::Container
      // end::Header
      .modal.fade#confirmDeleteModal(tabindex='-1' role='dialog' style='z-index: 10000;')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h5.modal-title Confirm Delete
              button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
            .modal-body
              p Are you sure you want to delete this item?
            .modal-footer
              button.btn.btn-secondary.btn-sm(type='button' data-bs-dismiss='modal') Cancel
              button.btn.btn-danger.btn-sm#confirmDeleteBtn(type='button') Delete 

      #offcanvasBottom.offcanvas.offcanvas-start.text-bg-dark(tabindex='-1' aria-labelledby='offcanvasBottomLabel')
        .offcanvas-header
          h5#offcanvasBottomLabel.offcanvas-title Direct Chat
          button.btn-close.btn-close-white(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
        .offcanvas-body
          iframe.chatFrame(frameborder='0' src='/chat')
          .toast-container.position-static
            .toast(role='alert' aria-live='assertive' aria-atomic='true')
              .toast-header
                img.rounded.me-2(src='...' alt='...')
                strong.me-auto Bootstrap
                small.text-muted just now
                button.btn-close(type='button' data-bs-dismiss='toast' aria-label='Close')
              .toast-body
                  | See? Just like this.
          .toast(role='alert' aria-live='assertive' aria-atomic='true')
            .toast-header
              img.rounded.me-2(src='...' alt='...')
              strong.me-auto Bootstrap
              small.text-muted 2 seconds ago
              button.btn-close(type='button' data-bs-dismiss='toast' aria-label='Close')
            .toast-body
                | Heads up, toasts will stack automatically
            
  block blogHeader
  block content
  block footer



script(src='https://code.jquery.com/jquery-3.6.0.min.js').
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js', integrity='sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p', crossorigin='anonymous').
script(src='assets/parallax/jarallax.js').
script(src='assets/web/assets/cookies-alert-plugin/cookies-alert-core.js')
script(src='assets/web/assets/cookies-alert-plugin/cookies-alert-script.js')
script(src='assets/smoothscroll/smooth-scroll.js').
script(src='assets/ytplayer/index.js').
script(src='assets/dropdown/js/navbar-dropdown.js').
script(src='/js/adminlte.js').

script(src='assets/witsec-search/search.js?v=1').
script(type='text/plain' data-src='assets/theme/js/script.js').

script.
    $(window).on("load", function () {

        $("#modal-add-comment").on("hidden.bs.modal", function () {
            var html = $("#modal-add-comment_body").html();
            $("#modal-add-comment_body").empty();
            $("#modal-add-comment_body").append(html);
        })
        if (typeof OpenModal === 'undefined') {
            OpenModal = function (modalName) {
                if (typeof jQuery === "function") {
                    if ($('#' + modalName).length)
                        $('#' + modalName).modal('show');
                    else
                        alert("Sorry, but there is no modal for " + modalName);
                } else {
                    let mdw = new bootstrap.Modal(document.getElementById(modalName), {});
                    mdw.show();
                }
            }
        }
    });
script.
  function modalSetCookie(cname, cvalue, exdays) {
  var d = new Date();
  d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
  var expires = "expires=" + d.toUTCString();
  document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
  }
  function modalGetCookie(cname) {
  var name = cname + "=";
  var decodedCookie = decodeURIComponent(document.cookie);
  var ca = decodedCookie.split(';');
  for (var i = 0; i < ca.length; i++) {
  var c = ca[i];
  while (c.charAt(0) == ' ') {
  c = c.substring(1);
  }
  if (c.indexOf(name) == 0) {
  return c.substring(name.length, c.length);
  }
  }
  return "";
  }
script(src='/js/site.js').
script(src='/js/socket.io.js')




#cookie-dialog(style='display: none;')
  #cookiesdirective(style='background-color:rgba(53,53,53,1)')
    div(style='position: fixed; top: 0; right: 0; bottom: 0; left: 0; background-color: rgb(0, 0, 0); opacity: 0; z-index: 9999;')
    div(style='position: fixed; top: 0; right: 0; bottom: 0; left: 0; display: flex; align-items: center; z-index: 10000')
      .cookie-wrapper(style='font-family: sans-serif;position: relative; width: 100%; max-width: 500px; margin-right: auto; margin-left: auto; padding: 1rem; text-align: center; border-radius: .3rem; box-shadow: 0 10px 40px 0 rgba(0,0,0,0.2); color:#bbbbbb; background:rgb(53, 53, 53);')
        .mbr-text
          p.display-7.accept-text
            | We use cookies to give you the best experience as specified in the 
            a(style='color: #47b5ed; text-decoration: underline;' href='privacy.html') cookie policy
            | . Rejecting cookies may make some features unavailable.
input(name='cookieData' type='hidden' data-cookie-cookiesalerttype='2' data-cookie-customdialogselector='#cookie-dialog' data-cookie-colortext='#bbbbbb' data-cookie-colorbg='rgb(53, 53, 53)' data-cookie-opacityoverlay='0' data-cookie-bgopacity='100' data-cookie-textbutton='ACCEPT' data-cookie-rejecttext='REJECT' data-cookie-colorbutton='#6ec7f2' data-cookie-rejectcolor='#ffffff' data-cookie-colorlink='#47b5ed' data-cookie-underlinelink='true' data-cookie-text="We use cookies to give you the best experience as specified in the <a href='privacy.html'>cookie policy</a>. Rejecting cookies may make some features unavailable.")
input(name='animation' type='hidden')

