doctype html
head
  // Site made with Mobirise Website Builder v5.9.6, https://mobirise.com
  base(href='/')
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='generator' content='Mobirise v5.9.6, mobirise.com')
  meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1')
  link(rel='shortcut icon' href='assets/images/0d0cde80-aa01-4a83-9246-2b6d2bb0ccd5-128x128.png' type='image/x-icon')
  meta(name='description' content="Before subscribing to any newsletters or blogs, it's important to determine your areas of interest within the digital marketing industry. Some common areas of interest include social media marketing, email marketing, content marketing, SEO, PPC, and analytics.")
  title Case Study 1: Analyzing Content Quality
  link(rel='stylesheet' href='assets/font-awesome-brands/../css/fontawesome.min.css')
  link(rel='stylesheet' href='assets/font-awesome-brands/css/brands.min.css')
  link(rel='stylesheet' href='assets/font-awesome-solid/../css/fontawesome.min.css')
  link(rel='stylesheet' href='assets/font-awesome-solid/css/solid.min.css')
  link(rel='stylesheet' href='assets/material-design/css/material-icons.min.css')
  link(rel='stylesheet' href='assets/web/assets/mobirise-icons2/mobirise2.css')
  link(rel='stylesheet' href='assets/web/assets/mobirise-icons/mobirise-icons.css')
  link(rel='stylesheet' href='assets/web/assets/mobirise-icons-bold/mobirise-icons-bold.css')
  link(rel='stylesheet' href='assets/bootstrap/css/bootstrap.min.css')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3', crossorigin='anonymous')
  link(rel='stylesheet' href='assets/parallax/jarallax.css')
  link(rel='stylesheet' href='assets/web/assets/gdpr-plugin/gdpr-styles.css')
  link(rel='stylesheet' href='assets/animatecss/animate.css')
  link(rel='stylesheet' href='assets/dropdown/css/style.css')
  link(rel='stylesheet' href='assets/socicon/css/styles.css')
  link(rel='stylesheet' href='assets/theme/css/style.css')
  link(href='vendor/fontawesome-free/css/all.min.css', rel='stylesheet', type='text/css')
  link(rel='preload' href='https://fonts.googleapis.com/css?family=Epilogue:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap' as='style' onload="this.onload=null;this.rel='stylesheet'")

  noscript
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Epilogue:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap')
  link(rel='preload' as='style' href='assets/mobirise/css/mbr-additional.css')
  link(rel='stylesheet' href='assets/mobirise/css/mbr-additional.css' type='text/css')
  
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js').
  // Google tag (gtag.js)
  script(type='text/plain' async='' data-src='https://www.googletagmanager.com/gtag/js?id=G-2LLV2Z902Q').
  script(type='text/plain').
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-2LLV2Z902Q');
  script(src='js/site.js').
  script(src="https://kit.fontawesome.com/4defe9e4da.js" crossorigin="anonymous").
  link(rel='stylesheet' href='stylesheets/main.css')
  body
    section#features16-2sn.inner-header-section.cid-ubqkf91puQ-1(data-bs-version='5.1')
        
        .container(style='max-width: 100%;')
            .row.justify-content-end.pt-3
                .col-md-9  
                    if success_msg
                        span(style="color: green" id='successMessage') #{success_msg}
                    if error_msg
                        span(style="color: red" id='errorMessage') #{error_msg}
                    if error
                        span(style="color: red") #{error}
                    if user
                        p.mt-2
                            | Logged in as #{user.username} (#{user.role})
                            | 
                            a(href='/users/logout') Logout
                            if user.role === 'admin'
                                | 
                                a(href='/admin/dashboard') Admin Dashboard
                    else
                        p.mt-2
                            a(href='/users/login') Login
                            | 
                            a(href='/users/register') Register
                .col-md-3
                    .navbar-buttons.wsearch.display-4
                        form.mbr-form.float-end(method='GET', action='/blog-post/Blog-Search')
                            .input-group
                                button#button-addon1.btn.btn-outline-secondary.btn-sm(type='submit') Go
                                input.form-control.form-control-sm(type='text', name='q', placeholder='Search', aria-label='Example text with button addon', aria-describedby='button-addon1')


    block content

    section#footer4-2tj.footer4.cid-uhEsLsQ0cU(data-bs-version='5.1', once='footers')
      .container
        .row.mbr-white
          .col-6.col-lg-3
            .media-wrap.col-md-8.col-12
              a(href='index.html')
                img(src='assets/images/-139cba96-4dc6-475c-b6e4-c7af325a1aa4-337x337.webp', alt='Mobirise Website Builder')
          .col-12.col-md-6.col-lg-3
            h5.mbr-section-subtitle.mbr-fonts-style.mb-2.display-7
              strong About
            p.mbr-text.mbr-fonts-style.mb-4.display-4
              | Mobirise is a free offline app for
              | Windows and Mac to easily create small/medium websites, landing pages, online resumes and
              | portfolios.
            h5.mbr-section-subtitle.mbr-fonts-style.mb-3.display-7
              strong Follow Us
            .social-row.display-7
              .soc-item
                a(href='https://twitter.com/mobirise', target='_blank')
                  span.mbr-iconfont.socicon.socicon-facebook
              .soc-item
                a(href='https://twitter.com/mobirise', target='_blank')
                  span.mbr-iconfont.socicon.socicon-twitter
              .soc-item
                a(href='https://twitter.com/mobirise', target='_blank')
                  span.mbr-iconfont.socicon.socicon-instagram
          .col-12.col-md-6.col-lg-3
            h5.mbr-section-subtitle.mbr-fonts-style.mb-2.display-7
              strong Mobirise Help
            ul.list.mbr-fonts-style.display-4
              li.mbr-text.item-wrap Help Center
              li.mbr-text.item-wrap Mobirise Forums
              li.mbr-text.item-wrap Mobirise Kit
              li.mbr-text.item-wrap Our site
          .col-12.col-md-6.col-lg-3
            h5.mbr-section-subtitle.mbr-fonts-style.mb-2.display-7
              strong Mobirise Extensions
            ul.list.mbr-fonts-style.display-4
              li.mbr-text.item-wrap Code Editor
              li.mbr-text.item-wrap Form Builder
              li.mbr-text.item-wrap Popup Builder
              li.mbr-text.item-wrap Enterprise
    .modal.fade#confirmDeleteModal(tabindex='-1' role='dialog')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5.modal-title Confirm Delete
            button.close(type='button' data-bs-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
          .modal-body
            p Are you sure you want to delete this item?
          .modal-footer
            button.btn.btn-secondary.btn-sm(type='button' data-bs-dismiss='modal') Cancel
            button.btn.btn-danger.btn-sm#confirmDeleteBtn(type='button') Delete

script(src='https://code.jquery.com/jquery-3.6.0.min.js').
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js', integrity='sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p', crossorigin='anonymous').
script(src='assets/parallax/jarallax.js').
script(src='assets/web/assets/cookies-alert-plugin/cookies-alert-core.js')
script(src='assets/web/assets/cookies-alert-plugin/cookies-alert-script.js')
script(src='assets/smoothscroll/smooth-scroll.js').
script(src='assets/ytplayer/index.js').
script(src='assets/dropdown/js/navbar-dropdown.js').


script(src='assets/witsec-search/search.js?v=1').
script(type='text/plain' data-src='assets/theme/js/script.js').

script.
  $(window).on("load", function () {
  $("#modal-add-comment").on("hidden.bs.modal", function () {
  var html = $("#modal-add-comment_body").html();
  $("#modal-add-comment_body").empty();
  $("#modal-add-comment_body").append(html);
  })
  if (typeof OpenModal === 'undefined') {
  OpenModal = function (modalName) {
  if (typeof jQuery === "function") {
  if ($('#' + modalName).length)
  $('#' + modalName).modal('show');
  else
  alert("Sorry, but there is no modal for " + modalName);
  } else {
  let mdw = new bootstrap.Modal(document.getElementById(modalName), {});
  mdw.show();
  }
  }
  }
  });
script.
  function modalSetCookie(cname, cvalue, exdays) {
  var d = new Date();
  d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
  var expires = "expires=" + d.toUTCString();
  document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
  }
  function modalGetCookie(cname) {
  var name = cname + "=";
  var decodedCookie = decodeURIComponent(document.cookie);
  var ca = decodedCookie.split(';');
  for (var i = 0; i < ca.length; i++) {
  var c = ca[i];
  while (c.charAt(0) == ' ') {
  c = c.substring(1);
  }
  if (c.indexOf(name) == 0) {
  return c.substring(name.length, c.length);
  }
  }
  return "";
  }




#cookie-dialog(style='display: none;')
  #cookiesdirective(style='background-color:rgba(53,53,53,1)')
    div(style='position: fixed; top: 0; right: 0; bottom: 0; left: 0; background-color: rgb(0, 0, 0); opacity: 0; z-index: 9999;')
    div(style='position: fixed; top: 0; right: 0; bottom: 0; left: 0; display: flex; align-items: center; z-index: 10000')
      .cookie-wrapper(style='font-family: sans-serif;position: relative; width: 100%; max-width: 500px; margin-right: auto; margin-left: auto; padding: 1rem; text-align: center; border-radius: .3rem; box-shadow: 0 10px 40px 0 rgba(0,0,0,0.2); color:#bbbbbb; background:rgb(53, 53, 53);')
        .mbr-text
          p.display-7.accept-text
            | We use cookies to give you the best experience as specified in the 
            a(style='color: #47b5ed; text-decoration: underline;' href='privacy.html') cookie policy
            | . Rejecting cookies may make some features unavailable.
input(name='cookieData' type='hidden' data-cookie-cookiesalerttype='2' data-cookie-customdialogselector='#cookie-dialog' data-cookie-colortext='#bbbbbb' data-cookie-colorbg='rgb(53, 53, 53)' data-cookie-opacityoverlay='0' data-cookie-bgopacity='100' data-cookie-textbutton='ACCEPT' data-cookie-rejecttext='REJECT' data-cookie-colorbutton='#6ec7f2' data-cookie-rejectcolor='#ffffff' data-cookie-colorlink='#47b5ed' data-cookie-underlinelink='true' data-cookie-text="We use cookies to give you the best experience as specified in the <a href='privacy.html'>cookie policy</a>. Rejecting cookies may make some features unavailable.")
input(name='animation' type='hidden')

script(src="https://code.responsivevoice.org/responsivevoice.js?key=PBQFEcV7").