doctype html
html(lang='en')
  head
    base(href='/')
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='generator' content='Mobirise v5.9.6, mobirise.com')
    meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1')
    link(rel='shortcut icon' href='assets/images/0d0cde80-aa01-4a83-9246-2b6d2bb0ccd5-128x128.png' type='image/x-icon')
    meta(name='description' content="Before subscribing to any newsletters or blogs, it's important to determine your areas of interest within the digital marketing industry. Some common areas of interest include social media marketing, email marketing, content marketing, SEO, PPC, and analytics.")
    title You-Blog Manager
    link(rel='stylesheet' href='assets/font-awesome-brands/../css/fontawesome.min.css')
    link(rel='stylesheet' href='assets/font-awesome-brands/css/brands.min.css')
    link(rel='stylesheet' href='assets/font-awesome-solid/../css/fontawesome.min.css')
    link(rel='stylesheet' href='assets/font-awesome-solid/css/solid.min.css')
    link(rel='stylesheet' href='assets/material-design/css/material-icons.min.css')
    link(rel='stylesheet' href='assets/web/assets/mobirise-icons2/mobirise2.css')
    link(rel='stylesheet' href='assets/web/assets/mobirise-icons/mobirise-icons.css')
    link(rel='stylesheet' href='assets/web/assets/mobirise-icons-bold/mobirise-icons-bold.css')
    
    //- link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3', crossorigin='anonymous')
    link(rel='stylesheet' href='assets/parallax/jarallax.css')
    link(rel='stylesheet' href='assets/web/assets/gdpr-plugin/gdpr-styles.css')
    link(rel='stylesheet' href='assets/animatecss/animate.css')
    link(rel='stylesheet' href='assets/dropdown/css/style.css')
    link(rel='stylesheet' href='assets/socicon/css/styles.css')
    link(rel='stylesheet' href='css/style.css')
    link(rel='preload' href='https://fonts.googleapis.com/css?family=Epilogue:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap' as='style' onload="this.onload=null;this.rel='stylesheet'")

    noscript
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Epilogue:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap')
    link(rel='preload' as='style' href='assets/mobirise/css/mbr-additional.css')
    link(rel='stylesheet' href='assets/mobirise/css/mbr-additional.css' type='text/css')
    //- link(rel='stylesheet' href='stylesheets/main.css')

    // Custom fonts for this template
    link(href='vendor/fontawesome-free/css/all.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i', rel='stylesheet')
    // Custom styles for this template
    link(href='css/sb-admin-2.min.css', rel='stylesheet')
    link(rel='stylesheet' href='assets/bootstrap/css/bootstrap.min.css')
    link(href='css/bs-additional.css', rel='stylesheet')
    script(src='vendor/jquery/jquery.min.js')
    script(src='js/site.js').
  body#page-top
    // Page Wrapper
    #wrapper
      #offcanvasRight.offcanvas.offcanvas-end(tabindex='-1', aria-labelledby='offcanvasRightLabel')
          .offcanvas-header
          h5#offcanvasRightLabel Offcanvas right
          |     
          button.btn-close.text-reset(type='button', data-bs-dismiss='offcanvas', aria-label='Close')
          |   
          .offcanvas-body
          | ...
      // Sidebar
      ul#accordionSidebar.navbar-nav.bg-gradient-dark.sidebar.sidebar-dark.accordion
        // Sidebar - Brand
        a.sidebar-brand.d-flex.align-items-center.justify-content-center(href='index.html')
          .sidebar-brand-icon.rotate-n-15
            i.fas.fa-laugh-wink
          .sidebar-brand-text.mx-3
            | you-blog 
            sup 1
        // Divider
        hr.sidebar-divider.my-0
        // Nav Item - Dashboard
        li.nav-item
          a.nav-link(href='/users/dashboard')
            i.fas.fa-fw.fa-tachometer-alt
            span Dashboard
        // Divider
        hr.sidebar-divider
        // Heading
        .sidebar-heading
          | Interface
        // Nav Item - Pages Collapse Menu
        li.nav-item
          a.nav-link.collapsed(href='#', data-toggle='collapse', data-target='#collapseUsers', aria-expanded='true', aria-controls='collapseUsers')
            i.fas.fa-fw.fa-user
            span Users
          #collapseUsers.collapse(aria-labelledby='headingTwo', data-parent='#accordionSidebar')
            .bg-dark.py-2.collapse-inner.rounded
              h6.collapse-header User details:
              a.collapse-item(href='/admin/users' id='manage-users') Manage users
              a.collapse-item(href='/admin/permissions' id='permissions') Manage permissions
              a.collapse-item(href='/admin/activity-logs' id='activity-logs') View Activity Logs
        // Nav Item - Utilities Collapse Menu
        li.nav-item
          a.nav-link.collapsed(href='#', data-toggle='collapse', data-target='#collapseBlogs', aria-expanded='true', aria-controls='collapseBlogs')
            i.fas.fa-fw.fa-wrench
            span Blogs
          #collapseBlogs.collapse(aria-labelledby='headingBlogs', data-parent='#accordionSidebar')
            .bg-dark.py-2.collapse-inner.rounded
              h6.collapse-header Blog details:
              a.collapse-item(href='/admin/blogs') Manage Blogs
              a.collapse-item(href='/admin/blogPosts') Manage Blog Posts
              a.collapse-item(href='/admin/htmlSections') Manage HtmlSections
        // Divider
        hr.sidebar-divider
        // Heading
        .sidebar-heading
          | Addons
        // Nav Item - Pages Collapse Menu
        li.nav-item.active
          a.nav-link(href='#', data-toggle='collapse', data-target='#collapsePages', aria-expanded='true', aria-controls='collapsePages')
            i.fas.fa-fw.fa-folder
            span Pages
          #collapsePages.collapse(aria-labelledby='headingPages', data-parent='#accordionSidebar')
            .bg-dark.py-2.collapse-inner.rounded
              h6.collapse-header Login Screens:
              a.collapse-item(href='login.html') Login
              a.collapse-item(href='register.html') Register
              a.collapse-item(href='forgot-password.html') Forgot Password
              .collapse-divider
              h6.collapse-header Other Pages:
              a.collapse-item(href='404.html') 404 Page
              a.collapse-item.active(href='blank.html') Blank Page
        // Nav Item - Charts
        li.nav-item
          a.nav-link(href='charts.html')
            i.fas.fa-fw.fa-chart-area
            span Charts
        // Nav Item - Tables
        li.nav-item
          a.nav-link(href='tables.html')
            i.fas.fa-fw.fa-table
            span Tables
        // Divider
        hr.sidebar-divider.d-none.d-md-block
        // Sidebar Toggler (Sidebar)
        .text-center.d-none.d-md-inline
          button#sidebarToggle.rounded-circle.border-0
      // End of Sidebar
      // Content Wrapper
      #content-wrapper.d-flex.flex-column
        // Main Content
        #content
          // Topbar
          nav.navbar.navbar-expand.navbar-dark.bg-gradient-dark.topbar.mb-4.static-top.shadow
            // Sidebar Toggle (Topbar)
            button#sidebarToggleTop.btn.btn-link.d-md-none.rounded-circle.mr-3
              i.fa.fa-bars
            // flash msg
            if success_msg
              p(style="color: green" id='success-message') #{success_msg}
            if error_msg
              p(style="color: red" id='error-message') #{error_msg}
            if error
              p(style="color: red") #{error}
            if user
              p.mt-2
              | Logged in as #{user.username} (#{user.role})
              | 
              a(href='/users/logout') Logout
                if user.role === 'admin'
                  | 
                  a(href='/admin/dashboard') User Dashboard

            ul.navbar-nav.ml-auto
              // Nav Item - Search Dropdown (Visible Only XS)
              li.nav-item.dropdown.no-arrow.d-sm-none
                a#searchDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  i.fas.fa-search.fa-fw
                // Dropdown - Messages
                .dropdown-menu.dropdown-menu-right.p-3.shadow.animated--grow-in(aria-labelledby='searchDropdown')
                  form.form-inline.mr-auto.w-100.navbar-search
                    .input-group
                      input.form-control.bg-light.border-0.small(type='text', placeholder='Search for...', aria-label='Search', aria-describedby='basic-addon2')
                      .input-group-append
                        button.btn.btn-primary(type='button')
                          i.fas.fa-search.fa-sm
              // Nav Item - Alerts
              li.nav-item.dropdown.no-arrow.mx-1
                a#alertsDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  i.fas.fa-bell.fa-fw
                  // Counter - Alerts
                  span.badge.badge-danger.badge-counter 3+
                // Dropdown - Alerts
                .dropdown-list.dropdown-menu.dropdown-menu-left.shadow.animated--grow-in(aria-labelledby='alertsDropdown')
                  h6.dropdown-header
                    | Notification Center
                  #notificationsContainer
                    

                  a.dropdown-item.text-center.small.text-gray-500(href='#') Show All Alerts

              // Nav Item - Messages
              li.nav-item.dropdown.no-arrow.mx-1
                a#messagesDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  i.fas.fa-envelope.fa-fw
                  // Counter - Messages
                  span.badge.badge-danger.badge-counter 7
                // Dropdown - Messages
                .dropdown-list.dropdown-menu.dropdown-menu-right.shadow.animated--grow-in(aria-labelledby='messagesDropdown')
                  h6.dropdown-header
                    | Message Center
                  a.dropdown-item.d-flex.align-items-center(href='#')
                    .dropdown-list-image.mr-3
                      img.rounded-circle(src='img/undraw_profile_1.svg', alt='...')
                      .status-indicator.bg-success
                    .font-weight-bold
                      .text-truncate
                        | Hi there! I am wondering if you can help me with a
                        | problem I&apos;ve been having.
                      .small.text-gray-500 Emily Fowler &middot; 58m
                  a.dropdown-item.d-flex.align-items-center(href='#')
                    .dropdown-list-image.mr-3
                      img.rounded-circle(src='img/undraw_profile_2.svg', alt='...')
                      .status-indicator
                    div
                      .text-truncate
                        | I have the photos that you ordered last month, how
                        | would you like them sent to you?
                      .small.text-gray-500 Jae Chun &middot; 1d
                  a.dropdown-item.d-flex.align-items-center(href='#')
                    .dropdown-list-image.mr-3
                      img.rounded-circle(src='img/undraw_profile_3.svg', alt='...')
                      .status-indicator.bg-warning
                    div
                      .text-truncate
                        | Last month&apos;s report looks great, I am very happy with
                        | the progress so far, keep up the good work!
                      .small.text-gray-500 Morgan Alvarez &middot; 2d
                  a.dropdown-item.d-flex.align-items-center(href='#')
                    .dropdown-list-image.mr-3
                      img.rounded-circle(src='https://source.unsplash.com/Mv9hjnEUHR4/60x60', alt='...')
                      .status-indicator.bg-success
                    div
                      .text-truncate
                        | Am I a good boy? The reason I ask is because someone
                        | told me that people say this to all dogs, even if they aren&apos;t good...
                      .small.text-gray-500 Chicken the Dog &middot; 2w
                  a.dropdown-item.text-center.small.text-gray-500(href='#') Read More Messages
              .topbar-divider.d-none.d-sm-block
              // Nav Item - User Information
              li.nav-item.dropdown.no-arrow
                a#userDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  span.mr-2.d-none.d-lg-inline.text-gray-600.small #{user.username}
                  img.img-profile.rounded-circle(src='img/undraw_profile.svg')
                // Dropdown - User Information
                .dropdown-menu.dropdown-menu-right.shadow.animated--grow-in(aria-labelledby='userDropdown')
                  a.dropdown-item(href='/users/profile')
                    i.fas.fa-user.fa-sm.fa-fw.mr-2.text-gray-800 
                    | Profile
                  a.dropdown-item(href='#' data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight")
                    i.fas.fa-cogs.fa-sm.fa-fw.mr-2.text-gray-800 
                    | Settings
                  a.dropdown-item(href='#')
                    i.fas.fa-list.fa-sm.fa-fw.mr-2.text-gray-800 
                    | Activity Log
                  .dropdown-divider
                  a.dropdown-item(href='#', data-toggle='modal', data-target='#logoutModal')
                    i.fas.fa-sign-out-alt.fa-sm.fa-fw.mr-2.text-gray-800 
                    | Logout
          // End of Topbar
          // Begin Page Content
          .container-fluid
            // Page Heading
            block content
          // /.container-fluid
        // End of Main Content
        // Footer
        footer.sticky-footer.bg-gradient-dark
          .container.my-auto
            .copyright.text-center.my-auto
              span Copyright &copy; you-blog 2020
        // End of Footer

      // End of Content Wrapper
    // End of Page Wrapper
    // Scroll to Top Button
    a.scroll-to-top.rounded(href='#page-top')
      i.fas.fa-angle-up

    // Logout Modal
    #logoutModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#exampleModalLabel.modal-title Ready to Leave?
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
          .modal-body Select &quot;Logout&quot; below if you are ready to end your current session.
          .modal-footer
            button.btn.btn-sm.btn-secondary(type='button', data-dismiss='modal') Cancel
            a.btn.btn-sm.btn-primary(href='/users/logout') Logout
    // Bootstrap core JavaScript
    //- script(src='vendor/jquery/jquery.min.js')
    
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js', integrity='sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p', crossorigin='anonymous').
    script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
    // Core plugin JavaScript
    script(src='vendor/jquery-easing/jquery.easing.min.js')
    // Custom scripts for all pages
    script(src='js/sb-admin-2.min.js')
    script(src='assets/parallax/jarallax.js').
    script(src='assets/web/assets/cookies-alert-plugin/cookies-alert-core.js')
    script(src='assets/web/assets/cookies-alert-plugin/cookies-alert-script.js')
    script(src='assets/smoothscroll/smooth-scroll.js').
    script(src='assets/ytplayer/index.js').
    script(src='assets/dropdown/js/navbar-dropdown.js').
    script(src='vendor/chart.js/Chart.min.js').
    script(src='js/demo/chart-area-demo.js').
    script(src='js/demo/chart-bar-demo.js').
    script(src='js/demo/chart-pie-demo.js').